.img-holder {
    margin-left: 0.5em;
    margin-right: 0.5em;

    position: relative;
    text-align: center;
}

.gourmet-img {
    padding: 0px;

    border-radius: 20px;

    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;

    filter: brightness(50%);
}

.welcome-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 5px;
}