.card {
    margin-top: 20px;
    margin-bottom: 6px;
    margin-right: 0px;
    margin-left: 0px;

    box-shadow: none;

    border: none;
    border-radius: 20px;
}

.card-img-top {
    width: 100%;
    height: 360px;
    object-fit: cover;

    object-position: center;

    border-radius: 20px 20px 0px 0px;
}

.cuisiner-button {
  width: fit-content;
  align-self: center;
}